### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd



# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# find the unique values or average
school_NMS= school_data_complete["school_name"].unique()
school_NMS

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [6]:
TS = len(school_NMS)

In [7]:
# need to count the number of students based on school array
dstudents= school_data_complete.groupby('school_name')['Student ID'].nunique() 
dstudents

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [8]:
DS = dstudents.sum()
DS

39170

In [9]:
#Average_reading 
RS = school_data_complete['reading_score'].mean()
RS

81.87784018381414

In [10]:
#Average Math Score 
MS= school_data_complete['math_score'].mean() 
MS

78.98537145774827

In [11]:
#calculate % of students with a passing MS of >70
# school names  & % of students passing math in each school
# step 1 find the students passing math
#      S1.1 school_data_complete math score 
school_data_complete['math_score'] 
    # S1.2  find the grades 70 and above view math grades if 70 or greater
key = school_data_complete['math_score'] >= 70
school_data_complete[key]
  
# step 2 get the count of students passing math
TSMS = key.count()

# s3 get the percentage "studentpassing/T # of students for each school
# TSMS/dstudent * 100
PMS = TSMS / DS * 100

In [12]:
key2 = school_data_complete['reading_score']>= 70
school_data_complete[key2]
TSRS = key2.count()
# divide TSRS/dstudent * 100
RMS = TSRS / DS * 100

In [13]:
#S1 find the # of students that passed both math & reading
TSB= school_data_complete[(school_data_complete['math_score'] >= 70) &
                         (school_data_complete['reading_score'] >= 70)]["Student ID"].count()
                        
PSB = TSB/DS * 100

PSB
#S2 find the percentage that passed both

65.17232575950983

In [14]:
BGT= school_data_complete.groupby('school_name')['budget'].unique()
BGT

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [15]:
tb= BGT.sum()
print(tb)

[24649428]

In [16]:
# Create a dataframe to hold the above results
#my dictionary to pass through to data frame
my_dict = {
    "Total Schools": TS,
    "Total Students": DS ,
    "Total Budget": tb,
    "Average Math Score": MS,
    "Average Reading Score": RS,
    "% of Students Reading":RMS,
    "% of Students Math": PMS,
    "% of Students Passing Both": PSB
}
District_School = pd.DataFrame(my_dict)
District_School

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,% of Students Passing Both
0,15,39170,24649428,78.985371,81.87784,100.0,100.0,65.172326

## School Summary

#create an overview table that summarizes key metrics abt each school
#school name 
#school type charter or district 
#total number of students per school 
#total school budget 
#per student budget
#average math and reading score
#percent passing math score (mean)
#percent passing reading score (mean)
#percent overall Passing score for R&M(mean)
#create a data frame to hold the results

In [17]:
#group by school
school_NMS

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [18]:
cd = school_data_complete.groupby('school_name')['type'].unique()
cd

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [19]:
BGT

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [20]:
dstudents

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [21]:
SBT = BGT/dstudents
SBT

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [22]:
#average math score per school
MSS= school_data_complete.groupby('school_name')['math_score'].mean()
MSS

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
RSS=school_data_complete.groupby('school_name')['reading_score'].mean()
RSS

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
#CMRS= RS + MS then find the score of the total
CMRS = school_data_complete[(school_data_complete['math_score'] >= 70) &
                         (school_data_complete['reading_score'] >= 70)]["school_name"].value_counts()
CMRS

Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Ford High School         1487
Thomas High School       1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: school_name, dtype: int64

In [25]:
#find the percentage of passing RS & MS  >70
pSPB = CMRS / dstudents * 100
pSPB

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [26]:
pspm = school_data_complete[school_data_complete['reading_score'] >= 70]["school_name"].value_counts()
fpspm = pspm / dstudents * 100

In [27]:
pspr = school_data_complete[school_data_complete['math_score'] >= 70]["school_name"].value_counts()
fpspr = pspr / dstudents * 100

In [52]:
SSdict = {
    "School Type": cd,
    "Total Students": dstudents,
    "Total School Budget": BGT,
    "Per Student Budget": SBT,
    "Average Math Score": MSS,
    "Average Reading Score": RSS,
    "% of Students Reading":fpspr,
    "% of Students Math": fpspm,
    "Overall Passing ": pSPB
}
School_Summary = pd.DataFrame(SSdict)
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,Overall Passing
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [53]:
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,Overall Passing
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
#create a dictionary to pass to a data frame

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [49]:
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,% Overall Passing
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
#create a dictionary to pass to a data frame

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [34]:
#sort by school then create columns for 9,10,11,12th grade
ninth = school_data_complete[(school_data_complete['grade']=="9th")]
tenth = school_data_complete[(school_data_complete['grade']=="10th")]
eleventh = school_data_complete[(school_data_complete['grade']=="11th")]
tweleveth = school_data_complete[(school_data_complete['grade']=="12th")]

In [30]:
ninth_average = ninth.groupby('school_name')['math_score'].mean()
ninth_average

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [31]:
tenth_average = tenth.groupby('school_name')['math_score'].mean()
tenth_average

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [32]:
eleventh_average = eleventh.groupby('school_name')['math_score'].mean()
eleventh_average

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [33]:
tweleveth_average = tweleveth.groupby('school_name')['math_score'].mean()
tweleveth_average

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [34]:
#create a dictionary to pass to a data frame
Math_Scores = {
    "9th": ninth_average,
    "10th": tenth_average,
    "11th": eleventh_average,
    "12th": tweleveth_average,
    }

In [37]:
Ms_grade = pd.DataFrame(Math_Scores)
Ms_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
#sort by school then create columns for 9,10,11,12th grade
ninth = school_data_complete[(school_data_complete['grade']=="9th")]
tenth = school_data_complete[(school_data_complete['grade']=="10th")]
eleventh = school_data_complete[(school_data_complete['grade']=="11th")]
tweleveth = school_data_complete[(school_data_complete['grade']=="12th")]


#calculate reading scores based on each grade

In [23]:
ninth_Raverage = ninth.groupby('school_name')['reading_score'].mean()

In [24]:
tenth_Raverage = tenth.groupby('school_name')['reading_score'].mean()

In [25]:
eleventh_Raverage = eleventh.groupby('school_name')['reading_score'].mean()

In [26]:
tweleveth_Raverage = tweleveth.groupby('school_name')['reading_score'].mean()

In [ ]:
#create a dictionary to pass to a data frame

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [100]:
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,Overall Passing
Bailey High School,[District],Large(2000-5000),[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],Medium(1000-2000),[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],Large(2000-5000),[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],Large(2000-5000),[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],Medium(1000-2000),[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],Large(2000-5000),[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],Small(<1000),[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],Large(2000-5000),[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],Large(2000-5000),[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],Small(<1000),[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],Large(2000-5000),[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],Medium(1000-2000),[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],Medium(1000-2000),[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],Large(2000-5000),[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],Medium(1000-2000),[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [102]:
bins = [0, 585, 630, 645, 680]

group_names = ["<$585","$585-630","$630-645","$645-680"]

School_Summary["Spending Ranges Per Student"] = pd.cut(spending_school["Per Student Budget"], bins, labels=group_names, include_lowest=True)

In [103]:
School_Summary.groupby('Spending Ranges Per Student').mean()

,Average Math Score,Average Reading Score,% of Students Reading,% of Students Math,Overall Passing
Spending Ranges Per Student,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [69]:
dstudents

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [68]:
#create a dictionary to pass to a data frame size_bins = [0, 1000, 2000, 5000]
#group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
bins = [0, 999, 1999, 5000]
group_names = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]
school_size_df["School Size"] = pd.cut(school_size_df["size"], bins, labels=group_names)

KeyError: 'size'

## Scores by School Type

* Perform the same operations as above, based on school type

In [73]:
AMTS = school_data_complete.groupby('type')['Student ID'].nunique()
AMTS

type
Charter     12194
District    26976
Name: Student ID, dtype: int64

In [53]:
AMS= school_data_complete.groupby('type')['reading_score'].mean()
AMS

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [54]:
ARS= school_data_complete.groupby('type')['math_score'].mean()
ARS

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [50]:
STP = school_data_complete[(school_data_complete['math_score'] >= 70) &
                         (school_data_complete['reading_score'] >= 70)]['type'].value_counts()
STP

District    14485
Charter     11043
Name: type, dtype: int64

In [76]:
MSP = school_data_complete[school_data_complete['math_score'] >= 70]['type'].value_counts()
CMSP = MSP / AMTS * 100
CMSP

Charter     93.701821
District    66.518387
dtype: float64

In [75]:
STRS = school_data_complete[school_data_complete['reading_score'] >= 70]['type'].value_counts()
ppRS = STRS / AMTS * 100
ppRS

Charter     96.645891
District    80.905249
dtype: float64

In [ ]:
#create a dictionary to pass to a data frame
School_Type =